#pragma once

#include "windows.h"
#include "chat.h"

IDD_INIT_DIALOG DIALOG DISCARDABLE 0, 0, 195,76
STYLE DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "初期設定"
FONT 10, "MS　ゴシック"
BEGIN 
	CONTROL			"サーバーを起動",IDD_RB_SV,"Button",BS_AUTORADIOBUTTON,8,10,80,10
	CONTROL			"クライアントを起動",IDD_RB_CL,"Button",BS_AUTORADIOBUTTON,8,25,100,10
	LTEXT			"ポート:",IDD_LT_PORT,8,40,30,10
	EDITTEXT		IDD_EB_PORT,40,38,32,13,ES_AUTOHSCROLL
	LTEXT			"ホスト:",IDD_LT_HOST,8,55,30,10
	EDITTEXT		IDD_EB_HOST,40,53,141,13,ES_AUTOHSCROLL
	DEFPUSHBUTTON	"&OK",IDD_PB_OK,150,10,32,13
	PUSHBUTTON		"&Cancel",IDCANCEL,150,30,32,13
END

IDD_DIALOG_MAIN DIALOG DISCARDABLE 0,0,300,180
STYLE DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Chat"
FONT 10, "MS　ゴシック"
BEGIN
	EDITTEXT		IDD_EB_CHAT, 8, 8, 284, 130, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | NOT WS_TABSTOP
	LTEXT			"送信メッセージ", IDD_LT_SEND, 8, 140, 60, 8
	EDITTEXT		IDD_EB_SEND,8,148,250,13,ES_AUTOHSCROLL
	DEFPUSHBUTTON	"&Send",IDD_PB_SEND ,260,148,32,13
	PUSHBUTTON		"&Close",IDCANCEL,260,165,32,13
END